@import url("/src/styles/pages.css");

.users_page_management_container {
  width: 100%;
  display: flex;
  flex-direction: row;

  flex-flow: row wrap;

  justify-content: center;

  gap: 1rem;

  padding: 0 5rem;
}

.users_page_card_container {
  height: 20rem;
  width: 26rem;

  display: flex;
  flex-direction: column;

  align-items: center;
}
